<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://zc4w01116.itcs.houston.dxccorp.net/OriginDashboard/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://zc4w01116.itcs.houston.dxccorp.net/</MSDeployServiceURL>
    <DeployIisAppPath>OriginDashboard</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ssz\x-fmelchor</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="c4w24086DashboardEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=c4w24086.itcs.hpecorp.net;Initial Catalog=OriginDashboard;User ID=PH_Automation;Password=VMPassword123;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\c4w24086DashboardEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/c4w24086Entities.csdl|res://*/c4w24086Entities.ssdl|res://*/c4w24086Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=c4w24086.itcs.hpecorp.net;initial catalog=OriginDashboard;user id=PH_Automation;password=VMPassword123;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="OriginDashboardEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=melchorf\sqlexpress;Initial Catalog=OriginDashboard;User ID=originadmin;Password=Password123;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\OriginDashboardEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DBEntities.csdl|res://*/DBEntities.ssdl|res://*/DBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=melchorf\sqlexpress;initial catalog=OriginDashboard;user id=originadmin;password=Password123;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="zc4w01116" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=zc4w01116\BIONIX;Initial Catalog=OriginDashboard;Persist Security Info=True;User ID=PH_Automation;Password=VMPassword123;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\zc4w01116_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/zc4w01116.csdl|res://*/zc4w01116.ssdl|res://*/zc4w01116.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=zc4w01116\BIONIX;initial catalog=OriginDashboard;persist security info=True;user id=PH_Automation;password=VMPassword123;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="C4W24086" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=c4w24086.itcs.hpecorp.net;Initial Catalog=OriginDashboard;User ID=PH_Automation;Password=VMPassword123;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\C4W24086_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/C4W24086Entity.csdl|res://*/C4W24086Entity.ssdl|res://*/C4W24086Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=c4w24086.itcs.hpecorp.net;initial catalog=OriginDashboard;user id=PH_Automation;password=VMPassword123;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)C4W24086-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)c4w24086DashboardEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OriginDashboardEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)zc4w01116-Web.config Connection String" />
  </ItemGroup>
</Project>